PORT=3000
NAME_API=API

PGUSER=user
PGHOST=localhost
PGPASSWORD=pass
PGDATABASE=name
PGPORT=5432

EMAILUSER=user
EMAILPASSWORD=pass
EMAILHOST=smtp.mailtrap.io
EMAILPORT=2525

DATABASE_MONGO=mongodb+srv://user:pass@cluster.mongodb.net/database

SSL=false

SECRETKEY=sdfsd&%efgewr32
